<%- include("../../partials/header") %>

<!-- CONTENT HERE -->
<main class="clearfix" id="maincontent">
	<h1>Discoveries</h1>
	<div class="row" onclick="viewHandler(event)">
		<aside>
			<blockquote><strong>
					&nbsp;“The Guide informed us that the totems were not for sale, but Telgen was not dissuaded. 'Do you have
					any idea how much these would sell for in Oppara?' he asked, moon face gleaming under that ridiculous hat. I
					reminded him that, unlike his own people, the villagers might not be interested in selling off their
					ancestors for a handful of beads. He let the matter drop, but several miles later, he opened his bag to
					reveal three of the squat, grimacing carvings. Disgusted, our guide abandoned us, and we made camp.
					<br><br>&nbsp;"That night, Telgen took the ten. When we opened the flap next morning, he and the idols were
					gone. In his place was a flurry of bloody footsteps leading into the jungle - each just an inch long"
				</strong></blockquote>
			<cite>&emsp; — Shem Ervismor, <i>Eyes in the Dark: My Life in the Expanse</i></cite>
		</aside>
		<aside>
			<figure>
				<picture>
					<source srcset="/images/hero/hero-alijae-totems.webp" type="image/webp">
					<img class="pointer" src="/images/core/unknown.png" alt="Juju Meditation">
				</picture>
				<figcaption>
					<h3><i>Now which one of youse naughty children made a deal with the Shadow-man?</i></h3>
				</figcaption>
			</figure>
		</aside>
	</div>
	<!-- RETURN TO TOP BUTTON -->
	<button onclick="topFunction()" id="returnTopBtn" title="Go to top">Return to Top</button>
	<!-- RETURN TO TOP BUTTON -->
	<div class="clearfix"></div>

	<!-- Include Partials -->
	<%- include("./_artifact") %>
	<%- include("./_relic") %>
	<%- include("./_major") %>
	<%- include("./_special") %>
	<%- include("./_unidentified") %>
	<%- include("./_minor") %>
	<%- include("./_favor") %>

	<!-- GM Only Inclusions -->
	<% if (hasRole(user, "gm_admin")) { %>
	<%- include("./_pending") %>
	<%- include("./_lost") %>
	<% } %>
</main>

<!-- SCRIPT HERE -->
<!-- <script src="/js/loot.js"></script> -->
<script>
	document.addEventListener("DOMContentLoaded", function () {
		// Always populate content before manipulating how it's displayed
		// populateLoot("magic");
		clickLoad("section");
		toggleLiVis(".toggleLiVis");
	});
</script>

<%- include("../../partials/footer") %>