<%- include("partials/header") %>

<!-- CONTENT HERE -->
<main class="clearfix" id="maincontent">
	<h1>Where Are We?!?</h1>
	<blockquote><strong>
			&nbsp;"The jungle knows no god but its own hunger. Mighty beasts enter, and not even bones return. Ancient
			rivers pour endlessly in, and are drunk down, every drop. Even spirits, given up beneath the canopy, become
			snared and tangled - dragged down amid roots and vines. But the jungle's hunger is not a dead thing like mine
			and yours. The jungle keeps what it eats, makes it part of itself, and grows rich and tall and ever more deadly.
			And amid its fat miles and heavy limbs what once were the ghosts of things that walk and crawl open new eyes
			amid the brush, and know a new hunger. A hunger like the jungle's."
		</strong></blockquote>
	<cite>&emsp; — Bahalos Voa, Mwangi Guide</cite>

	<!-- MAIN MAP PARTIAL -->
	<%- include("./_mainMap", { mainMap }) %>

	<!-- RETURN TO TOP BUTTON -->
	<button onclick="topFunction()" id="returnTopBtn" title="Go to top">Return to Top</button>
	<div class="clearfix"></div>
	<!-- RETURN TO TOP BUTTON -->

	<!-- GALLERY PARTIAL -->
	<h2>Maps of the Mwangi Expanse</h2>
	<%- include("./_gallery", { galleryTall, galleryWide }) %>
	<div class="clearfix"></div>

	<!-- LOCATIONS PARTIAL -->
	<%- include("./_locations", { currentLocation, pastLocations }) %>
	<div class="floatswitch"></div>
</main>

<%- include("partials/footer") %>