<%- include("../partials/header") %>

<!-- CONTENT HERE -->
<main class="clearfix" id="maincontent">
	<h1>Kadena-Shields Pathfinder Rpg</h1>
	<strong><i>&nbsp;"It's a dangerous business, Frodo, going out your door. You step onto the road, and if you don't
			keep your feet, there's no knowing where you might be swept off to."</i></strong>

	<!-- HeroDiv with Action Call -->
	<%- include("./home/_heroImg") %>

	<div class="bullets">

		<!-- Site Guide above #Top -->
		<%- include("./home/_siteGuide") %>

		<!-- RETURN TO TOP BUTTON -->
		<button onclick="topFunction()" id="returnTopBtn" title="Go to top">Return to Top</button>
		<!-- RETURN TO TOP BUTTON -->

		<!-- Static Inclusion Sections -->
		<%- include("./home/_campaignSetting") %>
		<!-- Include critical/fumble generator here once built -->
		<%- include("./home/_knowledgeChecks") %>
		<%- include("./home/_tombRaiding") %>

		<!-- Dynamic Inclusion Sections -->
		<%- include("./home/_factionsTribes", { tribes }) %>

	</div>
	<div class="clearfix"></div>

	<!-- LOCATIONS PARTIAL -->
	<%- include("./_locations", { currentLocation, overviewLocation }) %>
	<div class="floatswitch"></div>

</main>

<!-- SCRIPT HERE -->
<script>
	document.addEventListener("DOMContentLoaded", function () {
		toggleLiVis(".toggleLiVis");
	});

	// Generate Action Call Travel data
	const travelLog = [
		{ location: "in Port with the Jenivere", days: 33 }, // default
		{ location: "at Sea aboard the Jenivere", days: 71 }, // default
		{ location: "Castaway on Smuggler's Shiv", days: 30 }, // +0
		{ location: "Establishing an Expedition", days: 15 }, // +0 
		{ location: "Racing to Kalabuto", days: 18 }, // +1
		{ location: "Searching for a Moonstone", days: 15 }, // +0
		{ location: "Venturing to Tazion", days: 35 }, // +2
		{ location: "Following the Lights of Tazion", days: 8 }, // +1
		{ location: "Exploring Saventh-Yhi", days: 34 } //unknown
	];

	// Function to generate travel log HTML
	function generateTravelLogHTML(log) {
		let html = `<h2>Travel-Log</h2>`;
		log.forEach(entry => {
			html += `<p>Days ${entry.location}: ${entry.days}</p>`;
		});
		// const totalDays = calculateTotalDays(log);
		const totalDays = log.reduce((acc, entry) => acc + entry.days, 0);
		html += `<p>&emsp; Total Journey: ${totalDays}</p>`;
		return html;
	}

	// Render the travel log HTML
	document.querySelector('.actioncall').innerHTML = generateTravelLogHTML(travelLog);
</script>

<%- include("../partials/footer") %>