<%- include("../partials/header") %>

<!-- CONTENT HERE -->
<main class="clearfix" id="maincontent">
	<h1>Kadena-Shields Pathfinder Rpg</h1>
	<strong><i>&nbsp;"It's a dangerous business, Frodo, going out your door. You step onto the road, and if you don't
			keep your feet, there's no knowing where you might be swept off to."</i></strong>

	<!-- HeroDiv with Action Call -->
	<%- include("./_heroImg") %>

	<div class="bullets">

		<!-- Site Guide above #Top -->
		<%- include("./_siteGuide") %>

		<!-- RETURN TO TOP BUTTON -->
		<button onclick="topFunction()" id="returnTopBtn" title="Go to top">Return to Top</button>
		<!-- RETURN TO TOP BUTTON -->

		<!-- Static Inclusion Sections -->
		<%- include("./_campaignSetting") %>
		<!-- Include critical/fumble generator here once built -->
		<%- include("./_knowledgeChecks") %>
		<%- include("./_tombRaiding") %>

		<!-- Dynamic Inclusion Sections -->
		<%- include("./_factionsTribes", { tribes }) %>

	</div>
	<div class="clearfix"></div>

	<!-- Recap Partials -->
	<%- include("./_latestRecap", { latestRecap }) %>
	<%- include("./_locations", { currentLocation, overviewLocation }) %>
	<div class="floatswitch"></div>

</main>

<!-- SCRIPT HERE -->
<script>
	document.addEventListener("DOMContentLoaded", function () {
		toggleLiVis(".toggleLiVis");
		clickLoad(".asset section");
	});
</script>

<%- include("../partials/footer") %>