<%
// Group items by type + subtype
const grouped = {};
items.forEach(item => {
  const key = `${item.item_type}:${item.item_subtype}`;
  if (!grouped[key]) grouped[key] = [];
  grouped[key].push(item);
});
%>

<% Object.keys(grouped).forEach(key => { %>
<% const [type, subtype] = key.split(":"); %>

<section class="item-section">
  <h3><%= subtype %>'s</h3>

  <% grouped[key].forEach(item => { %>
  <ul class="toggleLiVis" style="list-style-type:none;">
    <li><b>Click to read <%= item.item_name %></b></li>

    <li style="display:none;">
      <b><i><%= item.item_name %></i></b>
    </li>

    <% if (item.mainImage) { %>
    <li style="display:none;">
      <picture>
        <source srcset="<%= item.mainImage.image_url %>" type="image/webp">
        <img class="pointer <%= item.mainImage.is_tall ? 'tooTall' : 'wide' %>" src="/images/core/placeholder-note.jpg"
          alt="<%= item.mainImage.alt || item.item_name %>">
      </picture>
    </li>
    <% } %>

    <%
      const body = (item.description || '') + '\n' + (item.ability || '');
      const safeBody = JSON.stringify(body).replace(/"/g, '&quot;');
    %>

    <li class="item-body" style="display:none;" data-body="<%- safeBody %>"> </li>

    <li style="display:none;">
      <i>~ Click to put <%= item.item_name %> away...</i>
    </li>

    <li class="clearfix" style="display:none;"></li>
  </ul>
  <% }); %>
</section>
<% }); %>