<%- include("../../partials/head") %>
<%- include("../../partials/header") %>
<%- include("../../partials/nav") %>
<main>
  <h1><%= title %></h1>
  <p>
    Enter your email and password to access your account. Do not have an account? <a href="/register">Register here</a>.
  </p>

  <form method="POST" action="/login" class="login-form">
    <!-- Email field -->
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" id="email" name="email" required placeholder="Enter your email address">
    </div>

    <!-- Password field -->
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" id="password" name="password" , minlength="8" required placeholder="Enter your password">
    </div>

    <!-- Submit button -->
    <div class="form-group">
      <button type="submit">Login</button>
    </div>

    <div class="form-footer">
      <p>New user? <a href="/register">Create an account</a></p>
    </div>
  </form>
</main>
<%- include('../../partials/footer') %>